<!doctype html>
<html>
<head>
    <title>Biterika TDS v.0.1.2</title>


    <% headers.forEach(function(header){ %>
    <%- include('../headers/'+header); %>
    <% }); %>

    <style>
        /*.table > tbody > tr > td {
            vertical-align: middle !important;
        }
        .table > thead > tr > th {
            vertical-align: middle !important;
        }*/

        .table-vcenter td, .table-vcenter th {
            vertical-align: middle!important;
        }

    </style>

</head>
<body>
<%- include('nav'); %>

<%- include('../'+view); %>

</body>
</html>