<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Biterika TDS v.0.2.1</a><br/>
            <span style="font-size: 10px;">uptime: <%=node_uptime()%><br/>
                last_scheme_upd: <%=node_last_scheme_upd()%></span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li <% if (view=='log') { %>  class="active" <% } %>><a href="/stat/log">log</a></li>
                <li <% if (view=='schems') { %>  class="active" <% } %>><a href="/stat/schems">схемы</a></li>
                <li <% if (view=='schems_stat') { %>  class="active" <% } %>><a href="/stat/schems_stat">схемы(стата)</a></li>
                <li <% if (view=='config') { %>  class="active" <% } %>><a href="/stat/config">config</a></li>
                <!--<li <% if (view=='node_list') { %>  class="active" <% } %>><a href="/stat/node_list">node_list</a></li>-->
                <!--<li <% if (view=='node_list_table') { %>  class="active" <% } %>><a href="/stat/node_list_table">node_list</a></li>-->
               <!-- <li <% if (view=='test_links') { %>  class="active" <% } %>><a href="/stat/test_links">test_links</a></li>-->
                <li <% if (view=='check') { %>  class="active" <% } %>><a href="/stat/check">check</a></li>
               <!-- <li <% if (view=='stat') { %>  class="active" <% } %>><a href="/stat/stat">stat</a></li>-->
                <li <% if (view=='stat1') { %>  class="active" <% } %>><a href="/stat/stat1">counters</a></li>
                <li <% if (view=='uniq') { %>  class="active" <% } %>><a href="/stat/uniq">uniq</a></li>
                <li <% if (view=='uniq_all') { %>  class="active" <% } %>><a href="/stat/uniq_all">uniq_all</a></li>
                <li <% if (view=='session_all') { %>  class="active" <% } %>><a href="/stat/session_all">session_all</a></li>
                <!-- <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                         <li><a href="#">Action</a></li>
                         <li><a href="#">Another action</a></li>
                         <li><a href="#">Something else here</a></li>
                         <li role="separator" class="divider"></li>
                         <li><a href="#">Separated link</a></li>
                         <li role="separator" class="divider"></li>
                         <li><a href="#">One more separated link</a></li>
                     </ul>
                 </li>-->
            </ul>
            <!--<form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            -->
            <ul class="nav navbar-nav navbar-right">
                <li <% if (me_node.shard==0) { %>  class="active" <% } %>><a href="http://<%=web_host+':9000'+req_url%>">node 1</a></li>
                <li <% if (me_node.shard==1) { %>  class="active" <% } %>><a href="http://<%=web_host+':9001'+req_url%>">node 2</a></li>
                <li <% if (me_node.shard==2) { %>  class="active" <% } %>><a href="http://<%=web_host+':9002'+req_url%>">node 3</a></li>
                <li <% if (me_node.shard==3) { %>  class="active" <% } %>><a href="http://<%=web_host+':9003'+req_url%>">node 4</a></li>
                <li <% if (me_node.shard==4) { %>  class="active" <% } %>><a href="http://<%=web_host+':9004'+req_url%>">node 5</a></li>
                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>-->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>