
<script src="/public/codemirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="/public/codemirror/lib/codemirror.css">
<script src="/public/codemirror/addon/runmode/colorize.js"></script>
<script src="/public/codemirror/mode/javascript/javascript.js"></script>


<style type="text/css">
    .CodeMirror {
        border: 1px solid #eee;
        height: auto;
    }
</style>
