
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">config</h3>
        </div>
        <div class="panel-body" style="font-size: 10px !important;">
<textarea id="code" name="code">
<%= data.json() %>
</textarea>
        </div>
    </div>
</div>



<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        //matchBrackets: true,
        //autoCloseBrackets: true,
        mode: "application/ld+json",
        lineWrapping: true,
        readOnly: true,
        lineNumbers: true,
        viewportMargin: Infinity,
        /*mode: "application/json",
         gutters: ["CodeMirror-lint-markers"],*/
    });
</script>