
<ul id="messages" style="font-size: 10px !important;"></ul>
<form action="">
    <input id="m" autocomplete="off" /><button type="submit">Send</button>
    <button onclick="$('#messages').empty();"  type="reset">Clear</button>
</form>


<script>
    var socket = io();
    $('form').submit(function(){
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
    });
    socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg));
    });
</script>

